@using StoreFlow.Models.LINQ_Siniflari
@model MostExpensiveProduct
@{
    ViewData["Title"] = "MostExpensiveProduct";
    Layout = "~/Views/Layout/Index.cshtml";
}

<h1>En Pahali Ürün Adi  Kategorisi: @Model.CategoryName </h1>
<h1>En Pahali Ürün Adi : @Model.ProductName </h1>

